body{
    text-align:center;
    font-family:sans-serif;
    /* background-image:linear-gradient(to bottom right, #33adff , #aea7b4); */

    color:white;
    
  }

  html {
    background: url(giphy.gif) no-repeat center center fixed;
    background-size: cover;
}

  #title{
    font-size:45px;
  }
  #description{
    font-size:20px;
  }
  
  
  #body{
    width:600px;
    padding:30px;
    margin:auto;
    border-radius:10px;
    text-align:left;
    background-color:rgba(0,0,0,0.6);
    font-size:20px;
    color:white;
  }
  
  #name{
    width:560px;
    padding:15px;
    border-radius:10px;
  }
  #email{
    width:560px;
    padding:15px;
    border-radius:10px;
  }
  #number{
    width:560px;
    padding:15px;
    border-radius:10px;
  }
  #dropdown{
    width:560px;
    padding:15px;
    border-radius:10px;
  }
  #comment{
    width:590px;
    padding:10px;
    border-radius:10px;
    border:none;
    margin-bottom: 20px;
  }
  /* #submit{
    /* width:400px;
    margin:auto; */
    /* padding:20px;
    font-size:20px;
    border-radius:20px;
    border:none; */
    /* margin-top:3%; */
    /* color:white;
    background-color:rgb(0, 128, 6);
    text-align: center; */
    
  /* } */

  #submitbutton{
    width:400px;
    margin:auto;
    padding:20px;
    font-size:20px;
    border-radius:20px;
    border:none;
    /* margin-top:3%; */
    color:white;
    background-color:rgb(0, 128, 6);
    text-align: center;
  }
  
  #button{
    width: 400px;
    margin: auto;
  }
  
